<!DOCTYPE html>
<html>
<head>
    <title>Edit Task</title>
</head>
<body>
    <h1>Edit Task</h1>

    <!-- Task editing form -->
    <form method="POST" action="/edit_task/{{ task_id }}">
        <label for="title">Title:</label>
        <input type="text" name="title" value="{{ task.title }}" required><br>

        <label for="description">Description:</label>
        <textarea name="description" rows="4" required>{{ task.description }}</textarea><br>

        <input type="submit" value="Save Changes">
    </form>

    <a href="/tasks">Back to Tasks</a>
</body>
<!-- Footer -->
<footer style="margin-top: 20px;"> <!-- Add margin-top here -->
    <div class="footer-content">
        <div class="left-content">
            <p>&copy; 2023 Capstone Consultants</p>
            <div class="names">
                <p>Project Manager: John Vrana</p>
                <p>Documentation & Compliance: Marissa Black</p>
                <p>Data & Quality Assurance: Tracie Pujol</p>
                <p>ISDS 4125 Fall1 2023</p>
            </div>
        </div>
        <div class="right-content">
            <img src="/static/images/logo.png" alt="Capstone Consultants Logo">
        </div>
    </div>
</footer>
</body>
</html>
