<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>

    <!-- Navigation menu -->
    <ul>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/tasks">Tasks</a></li>
        <li><a href="/logout">Sign Out</a></li>
    </ul>
</body>
<!-- Footer -->
<footer style="margin-top: 20px;"> <!-- Add margin-top here -->
    <div class="footer-content">
        <div class="left-content">
            <p>&copy; 2023 Capstone Consultants</p>
            <div class="names">
                <p>Project Manager: John Vrana</p>
                <p>Documentation & Compliance: Marissa Black</p>
                <p>Data & Quality Assurance: Tracie Pujol</p>
                <p>ISDS 4125 Fall1 2023</p>
            </div>
        </div>
        <div class="right-content">
            <img src="/static/images/logo.png" alt="Capstone Consultants Logo">
        </div>
    </div>
</footer>
</body>
</html>
