<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form method="POST" action="/login">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>
</body>
<!-- Footer -->
<footer style="margin-top: 20px;"> <!-- Add margin-top here -->
    <div class="footer-content">
        <div class="left-content">
            <p>&copy; 2023 Capstone Consultants</p>
            <div class="names">
                <p>Project Manager: John Vrana</p>
                <p>Documentation & Compliance: Marissa Black</p>
                <p>Data & Quality Assurance: Tracie Pujol</p>
                <p>ISDS 4125 Fall1 2023</p>
            </div>
        </div>
        <div class="right-content">
            <img src="/static/images/logo.png" alt="Capstone Consultants Logo">
        </div>
    </div>
</footer>
</body>
</html>
